input{
    background: none !important;
}

.login-page{
    width: 100%;
    height:100%;
    background-image: url(../images/50ff423cdc849.jpg)
}

.login-form{
    margin-top:150px;
}

.logo{
    width:250px;
    margin:30px auto;
}

.login-btn{
    width: 100%;
    border-radius: 4px;
}

.backend {
    background-image: url(../images//backgroud.jpg);
    background-size: 100%;
}

#top-nav{
    background: none;
    border-radius: 0;
}

#top-nav .form-group input{
    background: none;
}

#top-nav button{
    background: none !important;
}

.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover, 
 .navbar-default .navbar-nav > .open > a:focus
 {
     background: none;
 }

.nav .open > a {
    background: none;
}

.dropdown-menu{
    background: none;
}

.navbar-default .navbar-nav > li > a{
    color: #292929;
}

.navbar-nav > li > .dropdown-menu{
    margin-top:3px !important;
}

#left{
    float: left;
    margin-left:10px;
    width: 220px;
}


#left .list-group button{
    background: none;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus
 {
    background-color:rgba(0, 0, 0, 0.1);
 }

.news-action-btn .btn-warning {
    background: none;
}

.news-action-btn .btn-warning:hover{
    background-color: #f0ad4e;
}


.news-action-btn .btn-danger {
    background: none;
}

.news-action-btn .btn-danger:hover
{
    background-color: #c9302c;
}

.pagination > li > a, .pagination > li > span
{
    background: none;
}

.container{
    background: rgba(0,0,0,0.1);
    color:#FFF !important;
}