/* global */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.content {
  width: 100%;
  margin: 0;
  padding:0;
}

.top-nav{
  height: 80px;
  width:1200px;
  margin:0 auto;
}

.banner {
  min-width: 1200px;
}

.section{
  width: 1200px;
  margin:0 auto;
}

.logo{
  float:left;
}

.logo img{
  width: 220px;
}

.top-container{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.5s,box-shadow 0.5s;
}

.nav-container{
  float: right;
  height: 100%;
}

.nav-container ul{
  height: 100%;
}

.nav-container li{
  float: left;
  list-style: none;
  height: 100%;
  line-height: 80px;
  width: 110px;
  text-align: center;
}

.nav-container li a{
  color: #FFF;
  text-decoration: none;
}

.nav-container .block{
  display: block;
  color:rgb(128, 119, 119);
}


.nav-container .block:hover{
  background-color: #1ccfc9;
  color:#fff !important;
}

.swiper-slide {
  position: relative;
}

.slide-content{
  position: absolute;
  left: 0;
  top:0;
  text-align: center;
  width: 100%;
  padding-top: 3%;
}

.slide-content h2,.slide-content p,.slide-content h3{
  color: #FFF !important;
}

.slide-content p{
  width: 800px;
  margin:0 auto;
}

.slide-content h2{
  font-weight: bold;
}

.slide-content p{
  margin-top:20px;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.slide-btn{
  padding:10px;
  border:1px solid #FFF;
  display: inline-block;
  margin:20px 30px;
  padding:10px 40px;
  text-decoration: none;
  color: #FFF;
}

.slide-btn:hover{
  text-decoration: none;
  color: #FFF;
}

.slide-btn-active {
  background-color:#ffa200;
  border:1px solid #ffa200;
}

.section{
  margin-top: 30px;
  margin-bottom: 50px;
}

/* our service */
.services{
  height: 360px;
}

.english-title{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: #d4d0d0;
  height: 1.8em;
}

.chinese-title{
  text-align: center;
  font-size: 1.3em;
  color:#656565;
}

.section-seperator {
  width:70px;
  border:2px solid #46dae8;
  margin:0 auto;
  margin-top:5px;
}

.section-content {
  margin-top:20px;
  padding-top:10px;
}

.service-item{
  width: 280px;
  padding:10px;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;	/* Safari 和 Chrome */
  transition:transform 1s;	/* Firefox */
}

.service-item img{
  width:135px;
  display: block;
  margin:0 auto;
  text-align: center;
}

.service-item-title {
  font-size: 1.5em;
  font-weight:bold;
  text-align: center;
  padding:10px;
  color: #534949;
}

.service-item-text{
  text-align: center;
  color: #5C5C5C;
  font-size: 1.1em;
}

.about-us{
  background-image: url(../images/bg_fsy6.jpg);
  padding:40px 0;
  height: 500px;
  margin-top: 80px;
  background-repeat: no-repeat;
}

.about-us-left{
  width: 600px;
}

.about-us-right{
  width: 600px;
  left: 600px;
  top: -20px;
  transition: transform 1s;
  -ms-transition: transform 1s;		/* IE 9 */
  -webkit-transition: transform 1s;/* Safari and Chrome */
  -o-transition: transform 1s;		/* Opera */
  -moz-transition: transform 1s;		/* Firefox */
}

.about-us .english-title{
  margin-left: 0;
  text-align: left;
}

.about-us .chinese-title{
  text-align: left;
}

.about-us .section-seperator{
  margin-left: 0;
}

.about-us-right img{
  width:100%;
}

.about-us-text {
  text-align: left;
  line-height: 2em;
  width: 80%;
  font-size: 1.1em;
  margin-top:20px;
  color: #696060;
}

.know-more{
  border:1px solid #FFF;
  padding:13px 50px;
  margin-top:20px;
  display: inline-block;
  background: rgba(57,207,204,1);
  text-align:center;
  color: #FFF;
  text-decoration: none;
}

.know-more:focus {
  color: #FFF;
  text-decoration: none;
}

.know-more:hover{
  text-decoration: none;
  color: #FFF;
  background: rgb(16, 149, 146);
}

.case-show{
  margin-top: 100px;
  height: 700px;
}

.case-show .relative{
  height: 300px;
}

.case-item{
  width: 370px;
  height: 285px;
  position: absolute;
  padding:5px;
}

.case-item a{
  text-decoration: none;
  color: #000;
}

.case-item img{
  width: 100%;
  display: block;
}

.case-item-title{
  font-size: 1.3em;
  text-align: center;
  color: #4b4848;
}
.case-item-text{
  font-size:0.9em;
  text-align: center;
  color:#7a7474;
}

.call-me {
  height: 113px;
  background: rgb(57,207,204);

}

.call-me h3{
  display: inline-block;
  line-height:80px;
  float: left;
  color: #FFF;
}

.call-me a{
  display: inline-block;
  float: right;
  color: #FFF;
  font-size: 1.2em;
  border: 1px solid #FFF;
  padding:0px 30px;
  height: 45px;
  line-height: 45px;
  margin-top:38px;
  text-decoration: none;
}

.call-me a:hover{
  background:#FFF;
  color:rgb(57,207,204);
}

.advantage-bg {
  margin-top: 0;
  background-image: url(../images/bg1.jpg);
}

.our-advantage{
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.our-advantage .english-title{
  margin-top:40px;
}

.advantage-img{
  width: 115%;
}

.advantage-item li {
  list-style: none;
  margin-top: 60px;
  margin-bottom: 50px;
}

.advantage-item-img {
  width:35px;
}

.advantage-item-title{
  font-size: 1.7em;
  line-height: 40px;
  height: 40px;
  margin-left: 20px;
}

.advantage-item-text {
  margin-left:60px;
  margin-top:15px;
}

.news-list{
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 40px;
}

.new-date{
  float: left;
  background: rgb(57,207,204);
  width:80px;
  height: 80px;
  text-align: center;
  color: #FFF;
}

.new-date-day {
  margin-top: 10px;
  font-size: 2.1em;
}

.new-item {
  float: left;
}

.new-item{
  padding-left: 15px;
}

.new-title h4{
  color: #363333 !important;
}
.new-title h4 a{
  color: #363333;
}

.new-title h4 a:hover{
  text-decoration: none;
}

.new-content p {
  color: #938f8f !important;
  width: 900px;
}



.logos li{
  list-style: none;
  float:left;
  width: 220px;
  text-align: center;
  margin-top: 10px;
}

.logos li img{
  width:200px;
}

.bottom-info{
  background: rgb(57,207,204);
  padding:20px;
  margin-top: 30px;
}

.bottom-info p{
  color: #FFF !important;
  margin:3px;
}

.qr_code {
  width:120px;
}

.bottom-nav {
  border-bottom: 1px solid #d8d2d2;
  margin-top:20px;
  margin-bottom: 20px;
}

.bottom-nav dt {
  color:#FFF;
  font-size:1.2em;
  margin-bottom: 10px;
}

.bottom-nav dd{
  font-size:1em;
  margin-bottom: 10px;
}

.bottom-nav dd a{
  color:#FFF;
  text-decoration: none;
}

/* about us page */

.about-top-image{
  width: 100%;
  height: 500px;
  background: url(../images/about_banner.jpg);
}

.about-top-image h1{
  margin:0;
  height: 229px;
  line-height: 350px;
  text-align: center;
  color: #FFF;
}

.about-top-image p{
  margin:0;
  text-align: center;
  color: #FFF;
}

.about-intro-title{
  width: 280px;
  margin:20px auto;
}

.about-intro-title img {
  transform: rotate(35px);
  -ms-transform: rotate(35deg); /* IE 9 */
  -webkit-transform: rotate(35deg); /* Safari and Chrome */
  display: block;
  margin:0 auto;
  float: left;
}

.about-intro-title-text{
  text-align: center;
  display: block;
  float:right;
}

.about-intro-title-text h2{
  margin-bottom:0;
}

.about-intro-p p{
  color:#716e6e !important;
  line-height: 2.5em;
  font-size:1.1em;
}

.about-intro-p h4:first-child {
  margin-top: 20px;
}
.about-intro-p h4{
  color:#302f2f !important;
  margin-top: 30px;
}

.about-intro-p h4 span {
  font-size: 0.9em;
  font-weight: normal;
  color: #716e6e;
}


/* icon */

.about-mid-icon{
  margin-top: 50px;
  margin-bottom: 50px;
}

.block-icon{
  text-align: center;
  border-radius: 300px;
  height: 150px;
  width: 150px;
  margin:0 auto;
  padding-top: 30px;
  background: #39cfcc;
  border:1px solid #39cfcc;
}

.block-icon p{
  color:#FFF !important;
}

.block-icon h2{
  margin-bottom: 0px;
  color:#FFF;
}

.about-company-style{
  width: 1200px;
  margin:0 auto;
  margin-bottom: 30px;
}

.company-style-title h2,.company-style-title p{
  text-align: center;
  color: #000 !important;
  margin-bottom: 0;
}

.company-style-title{
  margin-bottom:30px;
}

.company-style-content .content-left{
  width: 721px;
  height:495px;
  float: left;
}

.content-left .swiper-slide img {
  width: 721px;
  height: 495px;
}

.content-right{
  width : 463px;
  height: 495px;
  float: right;
}

.content-right-top{
  width: 100%;
  height: 331px;
  overflow: hidden;
}

.content-right-top img{
  width:463px;
  height:331px;
}

.content-right-bottom{
  width:463px;
  height:154px;
  margin-top:10px;
  background-color: #39cfcc;
  padding:35px 20px;
}

.content-right-bottom p{
  line-height:2em;
}

.link-top-image{
  width: 100%;
  height: 500px;
  background: url(../images/2.jpg);
}

.link-top-image h1{
  margin:0;
  height: 229px;
  line-height: 350px;
  text-align: center;
  color: #FFF;
}

.about-link-me {
  width: 100%;
  margin-top:60px;
  background-color: #F8F4F4;
  padding:30px;
}

.about-link-me a{
  display: block;
  width:160px;
  margin:0 auto;
  background-color:#39cfcc;
  text-align: center;
  color:#FFF;
  padding:13px 10px;
  margin-top:30px;
}

.about-link-me h4{
  text-align: center;
  color: #000 !important;
}


/* serivces page css */

.service-top-image{
  width: 100%;
  height: 500px;
  background: url(../images/201701162110262539.jpg);
}

.service-row {
  width: 100%;
}

.service-content{
  width: 1200px;
  margin:0 auto;
  height:400px;
  position: relative;
}

.service-row-odd .service-content-left{
  width: 491px;
  height:329px;
  position: absolute;
  top: 40px;
  left:40px;
}

.service-row-odd .service-content-right{
  width:500px;
  height: 200px;
  left: 700px;
  top: 70px;
  position: absolute;
}

.service-row-even .service-content-left {
  width: 491px;
  height:329px;
  position: absolute;
  top: 60px;
  left:60px;
}

.service-row-even .service-content-right{
  width:500px;
  height: 329px;
  left: 650px;
  top: 30px;
  position: absolute;
}

.sys-btn a{
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #FFF;
}

.sys-btn {
  margin-top: 40px;
}

.sys-btn a:first-child {
  border: 1px solid #39cfcc;
  background-color: #39cfcc;
  margin-right: 50px;
}

.sys-btn a:last-child {
  border: 1px solid #6bb2f6;
  background-color: #6bb2f6;
}

/* cases page */

.case-top-image{
  width: 100%;
  height: 500px;
  background: url(../images/case_banner.jpg);
}

.case-top-image h1{
  margin:0;
  height: 229px;
  line-height: 350px;
  text-align: center;
  color: #FFF;
}

.case-top-image p{
  margin:0;
  text-align: center;
  color: #FFF;
}

.mid-content{
  width:1200px;
  margin:0 auto;
  position: relative;
}

.casepage{
  height: 900px;
}

.mid-nav{
  width: 1200px;
  height: 64px;
  position: absolute;
  left: 0;
  top: -30px;
  background: #39cfcc;
}

.mid-nav ul{
  margin:0;
  padding:0;
  width: 650px;
  margin:0 auto;
}

.mid-nav ul li{
  float: left;
  list-style: none;
  height: 64px;
  line-height: 64px;
  width:130px;
}

.mid-nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

.mid-nav ul li:hover{
  background: #FFF;
}

.mid-nav ul li:hover a{
  color:#39cfcc;
}

.case-container{
  padding-top:50px;
}

.case-container ul {
  margin:0;
  padding:0;
}

.case-container ul li{
  float: left;
  width: 400px;
  list-style: none;
  padding:10px;
}

.case-img img{
  width: 100%;
}

.case p{
  height: 63px;
  line-height: 21px;
  font-size: 1em;
  text-align: left !important;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.case-img-container{
  left:0;
  top: 0;
  position: relative;
  height: 217px;
  overflow: hidden;
}

.case-img-show{
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;	/* Safari 和 Chrome */
  transition:opacity 0.5s;	/* Firefox */
}

.case-img-hidden{
  position: absolute;
  left: 0;
  top: 0;
  background: #39cfcc;
  z-index: -1;
}

.case-img-show img, .case-img-hidden img{
  width: 100%;
}

.case-text{
    margin-top: 5px;
    padding-left: 5px;
}

.case-text h4{
  margin-bottom: 5px !important;
}

.case-text p{
  height: 21px;
	margin-top: 2px;
	line-height: 21px;
	font-size: 1em;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.case h4{
  text-align: center;
}
.case p{
  text-align: center;
}

.page-container{
  position: absolute;
  width: 1200px;
}

.casepage .page-container{
  top: 800px;
}

.page-container ul{
  margin:0;
  padding:0;
  float: left;
}

.page-container ul li{
  list-style: none;
  float: left;
  border: 1px solid #dadada;
  padding:2px 8px;
  margin-left: 4px;
}

.page-container p{
  width: 100px;
  margin:2px;
  float: left;
  margin-left:350px;
}

.page-container a{
  display: block;
  text-decoration: none;
  color:#666;
}

.page-container .active a{
  color:red;
}

/* news */

.news-top-image{
  width: 100%;
  height: 500px;
  background: url(../images/about_banner.jpg);
}

.news-top-image h1{
  margin:0;
  height: 229px;
  line-height: 350px;
  text-align: center;
  color: #FFF;
}

.news-top-image p{
  margin:0;
  text-align: center;
  color: #FFF;
}

.newspage{
  height: 1200px;
}

.news-mid-nav ul{
  margin:0;
  padding:0;
  width: 450px;
  margin:0 auto;
}

.news-container{
  position: absolute;
  top: 80px;
  padding:0;
  width: 1200px;
  height: 1000px;
}

.news-container ul{
  margin:0;
  padding:0;
}
.news-container ul li {
  list-style: none;
}

.news-item{
  width: 1200px;
  height: 160px;
  padding-left: 30px;
  padding-top: 30px;
  border-bottom: 1px dashed #CCC;
}

.news-item .news-date{
  border:1px solid #39cfcc;
  width: 100px;
  height: 100px;
  background:#39cfcc;
  float: left;
  margin-right: 20px;
}

.news-item .news-date h2{
  height: 30px;
  line-height: 30px;
  text-align: center;
  color:#FFF;
}

.news-item .news-date p{
  height: 20px;
  line-height: 20px;
  text-align: center;
  color:#FFF;
}

.news-content{
  float: left;
}

.news-content h3{
  margin-top: 8px;
}

.news-content h3 a{
  color: #5a5a5a;
  text-decoration: none;
}
.news-content p{
  color:#969696;
  width: 950px;
}

.newspage .page-container{
  top: 1100px;
}

/* news content */
.news-item-content{
  margin-top:80px;
}

.news-item-content h4{
  text-align: center;
}

.news-title2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.9em;
  color:#929292;
}

.news-descripts{
  border: 1px solid #DAD7D7;
  color:#9C9B9B;
  background: #ECECEC;
  height: 20px;
  line-height: 20px;
  padding:2px 40px;
  margin-bottom: 40px;
}

.news-content-text{
  padding:20px;
}
.news-content-text p{
  line-height: 25px;
  color: #7a7777;
}

.news-bottom-nav{
  padding:20px;
}

.news-bottom-nav a{
  text-decoration: none;
  color: #6F6F6F;
}

/* call me */
.callmepage{
    height: 650px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.call-me-content{
  position: absolute;
  height: 650px;
  width: 1200px;
}

.call-me-top{
  height: 350px;
}

.call-me-top-left{
  width: 900px;
  height: 350px;
  top: 0;
  left: 0;
  position: absolute;
}

.call-me-top-right{
  width: 290px;
  height: 350px;
  position: absolute;
  left: 910px;
  top: 0;
  background: #39cfcc;
  padding: 80px 25px;
}

.call-me-bottom{
  width: 1200px;
  background:#F5F3F3;
  height: 240px;
  position: absolute;
  top: 390px;
}

.call-me-top-right h3{
  color: #FFF;
}

.jiantou{
  width:50px;
  margin-top:40px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
}

.call-me-bottom-left {
  position: absolute;
  top: 40px;
  left: 360px;
}

.call-me-bottom-left  img{
  width: 130px;
}

.call-me-bottom-right {
  position: absolute;
  top: 50px;
  left:510px;
}


.advancetage {
  transition: transform 0.7s;
  -ms-transition: transform 0.7s;		/* IE 9 */
  -webkit-transition: transform 0.7s;/* Safari and Chrome */
  -o-transition: transform 0.7s;		/* Opera */
  -moz-transition: transform 0.7s;		/* Firefox */
}

.advantage-item li {
  transition: transform 0.3s;
  -ms-transition: transform 0.3s;		/* IE 9 */
  -webkit-transition: transform 0.3s;/* Safari and Chrome */
  -o-transition: transform 0.3s;		/* Opera */
  -moz-transition: transform 0.3s;		/* Firefox */
}

.right-nav{
  position: fixed;
  right:10px;
  top:30%;
  z-index: 9999;
}

.right-nav ul{
  margin:0;
  padding:0;
}

.right-nav li{
  background: rgba(0, 0, 0, 0.3);
  width: 50px;  
  height: 50px;
  border-radius: 40px;
  line-height: 50px;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}

.right-nav li img{
  width: 60%;
}

.right-nav li:last-child{
  display: none;
}

.qrcode{
  position: absolute;
  right:60px;
  top: 40px;
  width: 120px;
  display: none;
}

.qrcode img{
  border:1px solid #CCC;
  width: 120px;
  border-radius: 10px;
}

.search {
  border:1px solid rgba(0, 0, 0, 0.3);;
  padding: 10px 20px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  right:65px;
  top: 10px;
  display: none;
}

.search input{
  height: 30px;
  width: 240px;
  background: rgba(0, 0, 0, 0.0);
  border: 1px solid #CCC;
  padding: 2px;
  color:#FFF;
}

/*******animal*********/


.service-item:hover{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);	/* Safari 和 Chrome */
  -moz-transform: rotateY(180deg);	/* Firefox */
}


.about-us-right:hover{
  transform: translate(0px,-50px);
  -ms-transform: translate(0px,-50px);		/* IE 9 */
  -webkit-transform: translate(0px,-50px);	/* Safari and Chrome */
  -o-transform: translate(0px,-50px);		/* Opera */
  -moz-transform: translate(0px,-50px);		/* Firefox */
}

.advancetage:hover{
  transform: translate(0px,-50px);
  -ms-transform: translate(0px,-50px);		/* IE 9 */
  -webkit-transform: translate(0px,-50px);	/* Safari and Chrome */
  -o-transform: translate(0px,-50px);		/* Opera */
  -moz-transform: translate(0px,-50px);		/* Firefox */
}

.advantage-item li:hover{
  transform: translate(-15px,0px);
  -ms-transform: translate(-15px,0px);		/* IE 9 */
  -webkit-transform: translate(-15px,0px);	/* Safari and Chrome */
  -o-transform: translate(-15px,0px);		/* Opera */
  -moz-transform: translate(-15px,0px);		/* Firefox */
}


.case-item:hover .case-img-show{
  opacity: 0.1;
}