.both{
    clear:both;
}

@font-face {
    font-family: titleFont;
    src:url(/fonts/Fabulous.ttf);
}

@font-face {
    font-family: chinaFont;
    src: url(/fonts/font2.TTF);
}

@font-face {
    font-family: chinaFont2;
    src: url(/fonts/chinafont.TTF);
}

.container{
    width:100%;
    margin:0 auto;
    margin-top:0px;
}

.nav-activity a{
    color:#078807  !important;
    font-weight: bold;
}

#pagePath{
    margin-top:25px;
    margin-left:5px;
    color:#565656;
    font-size: 0.9em;
}

#header{
    width: 98%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#header #site-title{
    float: left;
    font-size: 1.8em;
}

#site-title span{
    color:#078807;
}

#header #site-nav{
    float: right;
}

#site-nav ul{
    padding:0;
    margin-top:10px;
}

#site-nav ul li{
    float: left;
    list-style: none;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    margin-right:9px;
}

#site-nav ul li a{
    color: #484848;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2.2em;
}

#intro{
    margin-top:20px;
    margin-bottom:70px;
}

#intro p{
    line-height: 1.7em;
    text-align: left;
    font-size:1.1em;
    color:#333;
}

#intro p a {
  color:#fab23a;
  text-decoration: underline;
}

#cases ul{
    margin:0;
    padding:0;
}

#cases ul li {
    list-style: none;
    width: 50%;
    float: left;
}

.caseul {
  padding:0;
  margin:0;
}

.caseul h1{
  font-size:1.8em;
  margin-bottom:14px;
}

.caseul h3{
  font-size:1.5em;
  margin-top:5px;
}

.caseul li{
  list-style: none;
  margin-bottom: 5px;
}

.caseul li a{
  font-size: 1.1em;
  color: #333;

}

#cases li:nth-child(odd) .thumbnail {
    padding:0 !important;
    padding-right:7px !important;
    border:none;
}

#cases li:nth-child(even) .thumbnail {
  padding:0 !important;
  padding-left:7px !important;
  border:none;
}

#cases ul li img{
    width: 100%;
}

#gridded{
  margin-top:40px;
}

#gridded h2,#gridded .address{
    text-align: center;
}

#gridded .address {
  font-size: 1.4em;
  margin-top: 19px;
}

#caseMeBtn{
    width: 80%;
    margin:0 auto;
    text-align: center;
    margin-top:40px;
    border:3px solid #fab23a;
    padding:10px 6px;
}

#caseMeBtn a{
    display: block;
    text-decoration: none;
    color: #cccccc;
    font-size:1.5em;
    font-weight:bold;
}

#news{
    margin-top:70px;
}

#news-content ul{
    margin:0 0 0 0px;
    padding:0;
}

#news-content ul li{
    list-style: none;
    margin:10px 0;
    padding: 0px 0;
}

#news-content ul li a{
    text-decoration: none;
    color:#000;
}

#service{
    margin-top:40px;
}

#service-content ul{
    margin:0 0 0 0px;
    padding:0;
}

#service-content ul li{
    list-style: none;
    margin:10px 0;
    padding: 0px 0;
}

#service-content ul li a{
    text-decoration: none;
    color:#000;
}

#contact{
    margin-top:30px;
}

#contact p{
    margin-top:6px;
    margin-bottom:6px;
}

.footer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer{
    margin-top:35px;
}

footer p{
    margin:15px 0;
    padding:0;
    font-size:0.9em;
    color:#5a5a5a;
    line-height: 2em;
}

footer p span{
  font-style: italic;
  font-size: 1.1em;
  color: #333;
}

#teams {
    margin-bottom:40px;
}

#teams ul{
    margin:0;
    padding:0;
}

#teams ul li {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom:14px;
}

#teams .thumbnail {
    padding:0px;
    border:none;
}

#teams li:nth-child(even) .thumbnail {
  padding-left: 8px;
    padding:4px;
    border:none;
}

#teams ul li img{
    width: 100%;
}

#teams ul li h4{
    margin:14px 5px 6px 5px;
    font-weight: 10;
}

#teams ul li p{
    margin:2px 5px;
    font-size:1em;
    font-family: titleFont;
}

#load-more{
    text-align:center;
    margin-top:30px;
    margin-bottom:60px;
    font-family: chinaFont;
}

#load-more a {
    text-align:center;
    font-size: 1.2em;
    letter-spacing:2px;
    text-decoration:none;
    color: #6b6a6a;
    font-family: chinaFont2;
}

#price {
    margin-bottom:60px;
}

#price ul {
    margin:0;
    padding:0;
}

#price ul li{
    border:2px solid #000;
    margin-bottom:20px;
    padding:10px;
    list-style: none;
}

#price li .desp{
    line-height: 1.5em;
    font-size:0.8em;
}

#price li .services{
    line-height: 1.6em;
}

#price .price{
    text-align: right;
}

#price li .num{
    font-size: 2.3em;
    color: #000;
}


 /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
@media screen and (max-width: 600px) {
    #share ul{
        margin:0;
        padding:0;
    }

    #share ul li {
        list-style:none;
        width:100%;
        padding:0;
        margin:0;
        margin-bottom:40px;
    }

    #share ul li a{
        text-decoration: none;
        color:#3e3e3e;
    }

    #share ul li img{
        width:100%;
    }

    .author{
        float: left;
        margin:6px 0 0 0;
        font-size:0.8em;
        color:#717171;
    }

    .writing{
        float: right;
        margin:6px 0 0 0;
        font-size:0.8em;
        color:#717171;
    }

    #share .entry-title{
        margin:6px 0 0 0;
        line-height: 1.4em;
    }

    #share .entry-content{
        margin:15px 0 0 0;
        line-height: 1.5em;
    }
}

.contact-content p{
    line-height: 1.7em;
}

 .contact-content a{
   color: #fab23a;
   text-decoration: underline;
}

blockquote em,blockquote p{
    color:#4a4a4a;
}

blockquote p{
    margin:4px 0;
}

#intro h1{
    margin-top:0.2em;
    font-size:2em;
    margin-bottom:0.3em;
    line-height: 1.4em;
}

#share P{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color:#7d7d7d;
}

#share .thumbnail{
    margin: 0;
    font-size: .8em;
    color: #666;
    border:none;
    padding:0'
}

.author-info h3{
    margin: 0;
}

.sharepage p{
    color:#7b7b7b;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sharepage strong{
    color:#000000;
}
.sharepage p img{
    width:100%;
}
.shareTop{
    width: 100%;
    margin:20px auto;
}
.shareTop h2,.caseTop p{
    text-align:left;
}
.shareTop h2{
    margin-bottom: 4px;
    font-size:2em;
    line-height: 1.35;
}

.shareTop p{
    font-size:1em;
    line-height:2em;
    color:#7b7b7b;
}

.shareAuthor{
    font-size: .5em;
    display: block;
    line-height: 1.6em;
    color:#7b7b7b;
}

.shareTime{
    font-size: .5em;
    display: block;
    line-height: 1.6em;
    color:#7b7b7b;
}



 /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
 @media screen and (min-width: 600px) {
    #share ul{
        margin:0;
        padding:0;
    }

    #share ul li {
        list-style:none;
        width:50%;
        float: left;
        padding:0;
        margin:0;
        margin-bottom:50px;
    }

    #share ul li a{
        text-decoration: none;
        color:#3e3e3e;
        display: block;
    }

    #share ul li:nth-child(odd) a
    {
        padding-right:15px;
    }

    #share ul li:nth-child(even) a
    {
        padding-left:15px;
    }


    #share ul li img{
        width:100%;
    }

    .author{
        float: left;
        margin:6px 0 0 0;
        font-size:0.8em;
        color:#717171;
    }

    .writing{
        float: right;
        margin:6px 0 0 0;
        font-size:0.8em;
        color:#717171;
    }

    #share .entry-title{
        margin:15px 0 0 0;
    }

    #share .entry-content{
        margin:15px 0 0 0;
        line-height: 1.5em;
    }
}
